In [230]:
# AdaBoost, GradientBoost, XGBoost
import pandas as pd
from sklearn.ensemble import AdaBoostClassifier
#from sklearn.ensemble import AdaBoostRegressor
from sklearn.tree import DecisionTreeClassifier
#from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score

In [231]:
train= pd.read_csv("C:\\Users\\dvenk\\Practice in Python\\Supervised_Learning_Models\\Boosting\\Fraud_check1.csv")

In [232]:
print(train.head)

<bound method NDFrame.head of     Undergrad Marital_Status  Taxable_Income  City_Population  \
0          NO         Single           68833            50047
1         YES       Divorced           33700           134075
2          NO        Married           36925           160205
3         YES         Single           50190           193264
4          NO        Married           81002            27533
..        ...            ...             ...              ...
595       YES       Divorced           76340            39492
596       YES       Divorced           69967            55369
597        NO       Divorced           47334           154058
598       YES        Married           98592           180083
599        NO       Divorced           96519           158137

     Work_Experience Urban
0                 10   YES
1                 18   YES
2                 30   YES
3                 15   YES
4                 28    NO
..               ...   ...
595                7   YES
596                2   YES
597                0   YES
598               17    NO
599               16    NO

[600 rows x 6 columns]>

In [233]:
print('\nShape:' , train.columns)

Shape: Index(['Undergrad', 'Marital_Status', 'Taxable_Income', 'City_Population',
       'Work_Experience', 'Urban'],
      dtype='object')

In [234]:
train['Undergrad'] = train['Undergrad'].astype('category')
train['Marital_Status'] = train['Marital_Status'].astype('category')
train['Urban'] = train['Urban'].astype('category')
train = pd.get_dummies(train)

In [235]:
train_x=train.drop(['Taxable_Income'],axis=1)

In [236]:
print(train.head)

<bound method NDFrame.head of      Taxable_Income  City_Population  Work_Experience  Undergrad_NO  \
0             68833            50047               10             1
1             33700           134075               18             0
2             36925           160205               30             1
3             50190           193264               15             0
4             81002            27533               28             1
..              ...              ...              ...           ...
595           76340            39492                7             0
596           69967            55369                2             0
597           47334           154058                0             1
598           98592           180083               17             0
599           96519           158137               16             1

     Undergrad_YES  Marital_Status_Divorced  Marital_Status_Married  \
0                0                        0                       0
1                1                        1                       0
2                0                        0                       1
3                1                        0                       0
4                0                        0                       1
..             ...                      ...                     ...
595              1                        1                       0
596              1                        1                       0
597              0                        1                       0
598              1                        0                       1
599              0                        1                       0

     Marital_Status_Single  Urban_NO  Urban_YES
0                        1         0          1
1                        0         0          1
2                        0         0          1
3                        1         0          1
4                        0         1          0
..                     ...       ...        ...
595                      0         0          1
596                      0         0          1
597                      0         0          1
598                      0         1          0
599                      0         1          0

[600 rows x 10 columns]>

In [237]:
#df.Content.xyz
#train.Taxable.Income
#y = Taxable.Income
#train_y = train.y
#train(['Taxable_Income'])
train_y=train.Taxable_Income

In [238]:
train.Taxable_Income

0      68833
1      33700
2      36925
3      50190
4      81002
       ...
595    76340
596    69967
597    47334
598    98592
599    96519
Name: Taxable_Income, Length: 600, dtype: int64

In [239]:
train_y

0      68833
1      33700
2      36925
3      50190
4      81002
       ...
595    76340
596    69967
597    47334
598    98592
599    96519
Name: Taxable_Income, Length: 600, dtype: int64

In [241]:
#dt = DecisionTreeClassifier(criterion='gini',max_depth=30)
dt = DecisionTreeClassifier(criterion='entropy',max_depth=9)
#dt = DecisionTreeRegressor(max_depth=9)

AdaBoostClassifier(base_estimator=DecisionTreeClassifier(), learning_rate=1,
                   n_estimators=100)

In [242]:
#clf = AdaBoostClassifier(learning_rate=1,n_estimators=100,base_estimator=dt)

In [243]:
dt.model = dt.fit(train_x,train_y)

In [244]:
dt.get_depth()

9

In [245]:
dt_predict = dt.predict(train_x)

In [246]:
dt_accuracy = accuracy_score(train_y, dt_predict)

In [249]:
#from sklearn.metrics import roc_curve, auc
#roc_curve(train_y, dt_predict)
#false_positive_rate, true_positive_rate, thresholds = roc_curve(train_y, dt_predict)
#roc_auc = auc(false_positive_rate, true_positive_rate)
#parameters: targets to be predicted and predictions from new data used before

In [250]:
dt_accuracy

0.8533333333333334

In [288]:
clf = AdaBoostClassifier(n_estimators=1000,learning_rate=1)

In [289]:
clf.fit(train_x,train_y)

AdaBoostClassifier(learning_rate=1, n_estimators=1000)

In [290]:
clf_predict = clf.predict(train_x)

In [291]:
clf_accuracy = accuracy_score(train_y, clf_predict)

In [292]:
clf_accuracy

0.5166666666666667