In [34]:
import pandas as pd

In [35]:
ev = "dev","test","prod"

In [36]:
ev

('dev', 'test', 'prod')

In [37]:
env = ["dev","test","prod"]

In [38]:
env

['dev', 'test', 'prod']

In [39]:
type(ev)

tuple

In [40]:
env[1]

'test'

In [41]:
envs = 'name'

In [42]:
type(envs)

str

In [43]:
#df['phone'] = df['phone'].astype('category')
#df = pd.get_dummies(df)
env = env.astype('category')
envs = pd.get_dummies(envs)

AttributeError: 'list' object has no attribute 'astype'

In [44]:

# Import pandas library 
import pandas as pd 
  
# initialize list of lists 
data = [['tom', 10], ['nick', 15], ['juli', 14]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
  
# print dataframe. 
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [45]:
type(df.Name)

pandas.core.series.Series

In [46]:
df['Name'] = df['Name'].astype('category')
df = pd.get_dummies(df)

In [47]:
df

   Age  Name_juli  Name_nick  Name_tom
0   10          0          0         1
1   15          0          1         0
2   14          1          0         0

In [60]:
#FOR STRINGS WE CANT CREATE OR USE DUMMY VAR, FOR DF WE CAN CREATE DUMMY

In [70]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

Fraud_check_data = pd.read_csv("C:\\Users\\dvenk\\Practice in Python\\Supervised_Learning_Models\\Fraud_check.csv")

In [71]:
Fraud_check_data['Marital.Status']

0        Single
1      Divorced
2       Married
3        Single
4       Married
         ...
595    Divorced
596    Divorced
597    Divorced
598     Married
599    Divorced
Name: Marital.Status, Length: 600, dtype: object

In [72]:
type(Fraud_check_data['Marital.Status'])

pandas.core.series.Series

In [73]:
pwd

'C:\\Users\\dvenk\\Practice in Python\\Supervised_Learning_Models'

In [74]:
Fraud_check_data['Undergrad'] = Fraud_check_data['Undergrad'].astype('category')
Fraud_check_data['Marital.Status'] = Fraud_check_data['Marital.Status'].astype('category')
Fraud_check_data['Urban'] = Fraud_check_data['Urban'].astype('category')
Fraud_check_data = pd.get_dummies(Fraud_check_data)

In [76]:
Fraud_check_data

,Taxable.Income,City.Population,Work.Experience,Undergrad_NO,Undergrad_YES,Marital.Status_Divorced,Marital.Status_Married,Marital.Status_Single,Urban_NO,Urban_YES
0,68833,50047,10,1,0,0,0,1,0,1
1,33700,134075,18,0,1,1,0,0,0,1
2,36925,160205,30,1,0,0,1,0,0,1
3,50190,193264,15,0,1,0,0,1,0,1
4,81002,27533,28,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
595,76340,39492,7,0,1,1,0,0,0,1
596,69967,55369,2,0,1,1,0,0,0,1
597,47334,154058,0,1,0,1,0,0,0,1
598,98592,180083,17,0,1,0,1,0,1,0
599,96519,158137,16,1,0,1,0,0,1,0

In [77]:
# seperate the independent and target variable on training data
train_x = Fraud_check_data.drop(columns=['Taxable.Income'],axis=1)
train_y = Fraud_check_data['Taxable.Income']

In [105]:
model = DecisionTreeClassifier(max_depth=30)#depth controls the learning fuction of a tree

In [106]:
model.fit(train_x,train_y)

DecisionTreeClassifier(max_depth=30)

In [107]:
print('Depth of the model: ', model.get_depth())

Depth of the model:  30

In [108]:
predict_train = model.predict(train_x)

In [109]:
predict_train

array([68833, 12453, 20309, 10455, 81002, 33329, 83357, 62774, 83519,
       98152, 10987, 61063, 11794, 61830, 64070, 69869, 24987, 39476,
       97957, 10987, 10870, 14310, 78969, 92040, 38239, 15673, 55299,
       87778, 10379, 94033, 73854, 64007, 97200, 10870, 12514, 31336,
       10163, 68513, 14912, 74010, 10987, 49436, 96485, 70339, 18192,
       70743, 12011, 44034, 16264, 45706, 79616, 10870, 97703, 21917,
       81939, 10455, 20309, 78573, 10870, 65065, 12083, 26972, 91684,
       51685, 10870, 58312, 42507, 12083, 10150, 10870, 89302, 94287,
       12453, 41382, 32434, 61105, 67628, 12083, 73411, 10329, 44947,
       18192, 15673, 87348, 69098, 12453, 12453, 10870, 86652, 12083,
       77634, 99325, 85651, 15296, 10348, 10455, 22258, 79583, 12011,
       52495, 93078, 35072, 32662, 89250, 41641, 55873, 19169, 46629,
       51927, 69224, 24557, 77762, 10455, 90910, 21945, 79357, 42784,
       10987, 29944, 97318, 10455, 12011, 12083, 26679, 70682, 87326,
       15853, 10987, 20309, 10870, 93458, 10455, 46955, 33492, 12083,
       12470, 53981, 22773, 84691, 50087, 27877, 12011, 10987, 26783,
       10455, 33962, 84429, 18192, 43128, 40220, 79700, 67083, 22054,
       18192, 25222, 58635, 39114, 48738, 28496, 62209, 87677, 12011,
       12011, 27081, 10870, 91304, 20309, 41117, 18199, 76992, 98588,
       12083, 13068, 10455, 44795, 39052, 38704, 98416, 86958, 12011,
       10870, 29543, 23855, 84836, 93307, 64614, 72949, 79211, 28707,
       83229, 73620, 70819, 48313, 12083, 10870, 10455, 10933, 66905,
       36890, 19060, 10455, 31088, 70365, 56536, 16992, 14300, 51914,
       12083, 71376, 10455, 10455, 70812, 62067, 62365, 80618, 52891,
       31409, 12453, 57794, 20604, 18192, 10870, 18192, 12011, 86784,
       42488, 35922, 10455, 28764, 75170, 24370, 84083, 11784, 10003,
       98970, 77735, 46070, 27143, 56974, 99109, 10987, 24215, 33092,
       71297, 10870, 33810, 49995, 11865, 10987, 39144, 31591, 30167,
       72382, 10870, 70526, 38143, 12083, 54747, 92997, 24347, 10870,
       70645, 69540, 70712, 32900, 14326, 12011, 29046, 95088, 38586,
       30468, 42254, 32467, 68404, 12083, 86208, 62426, 63710, 25062,
       56438, 17783, 92426, 64667, 18192, 15673, 77511, 76182, 89831,
       12011, 81231, 12011, 31699, 15710, 31645, 98933, 52912, 18192,
       41087, 10987, 34475, 98334, 10900, 61445, 12453, 12453, 10987,
       88918, 62873, 12083, 10455, 12453, 52111, 34598, 61124, 59689,
       18192, 48192, 12083, 82625, 12453, 10455, 38670, 15673, 12083,
       10870, 94013, 12453, 26793, 67033, 20109, 95185, 27684, 98240,
       18032, 10987, 12083, 62800, 27520, 18192, 13571, 36239, 77082,
       71572, 30495, 49771, 32905, 10987, 16082, 43883, 15491, 48081,
       36317, 15627, 12083, 12011, 45525, 23480, 19184, 10455, 33215,
       65203, 65190, 16320, 21696, 56129, 74971, 12083, 12011, 95319,
       94413, 78963, 66865, 40427, 20309, 63543, 41184, 96652, 10870,
       36457, 26101, 36156, 49958, 18192, 97453, 12083, 96438, 10987,
       85016, 73188, 64225, 64437, 66330, 26372, 20309, 84263, 86531,
       10870, 79373, 17440, 81536, 12083, 37580, 60822, 15673, 91545,
       73313, 54345, 33138, 33579, 83094, 90065, 51913, 81378, 10455,
       97980, 38626, 64230, 38183, 89277, 68269, 58751, 62365, 99311,
       94528, 72268, 18192, 94247, 76700, 12011, 10987, 98720, 10987,
       37857, 15532, 10455, 91547, 98738, 12011, 14398, 18572, 10987,
       42074, 10870, 12659, 19649, 50119, 18888, 83061, 10455, 92007,
       78728, 12453, 92070, 97341, 97493, 20309, 52862, 11804, 10455,
       18192, 58199, 88613, 16690, 71164, 48825, 29236, 59689, 12453,
       64320, 84845, 12083, 10987, 69018, 10455, 99128, 35868, 79478,
       18192, 73795, 58403, 85972, 62365, 32786, 17962, 12011, 94772,
       80083, 10455, 86883, 39444, 35886, 24541, 10455, 17183, 10987,
       70157, 72151, 65170, 10455, 93339, 10455, 56628, 83814, 12011,
       46939, 71428, 23884, 10455, 46002, 20309, 70743, 42769, 10455,
       55308, 60789, 51363, 99239, 19272, 10455, 10455, 98433, 81867,
       43980, 50286, 12083, 10870, 26494, 59243, 91488, 33116, 12453,
       70743, 34007, 26128, 33748, 38896, 40674, 97111, 54850, 32948,
       10870, 12453, 12083, 59351, 10987, 36532, 94583, 92819, 76535,
       91220, 71238, 32356, 89094, 91462, 75585, 31629, 42063, 12810,
       85570, 18192, 90444, 50403, 78867, 95920, 41545, 63912, 92498,
       10870, 10987, 59860, 10987, 34833, 12083, 12083, 44809, 10735,
       12011, 56166, 42483, 70572, 31721, 31085, 84931, 69036, 42679,
       84557, 10870, 10987, 12011, 31633, 43018, 10455, 10870, 84775,
       47364, 76340, 69967, 47334, 12083, 96519], dtype=int64)

In [110]:
accuracy_train = accuracy_score(train_y, predict_train)

In [111]:
accuracy_train

0.7383333333333333